nav {
      flex: 0 1 100%;
}
nav > ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}
nav > ul > li {
   flex: 0 1 100%;
}
nav > ul > li > a {
   color: white;
   text-decoration: none;
   padding: 20px 5px;
   display: inline-block;
   text-align: center;
   width: 100%;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
nav > ul > li > a:hover {
   background: maroon;
   color: white;
    text-decoration: none;
}
nav > ul > li > a.brand {
  padding: 18px 0 20px;
  font-size: 1.1em;
  font-weight: 900;
  letter-spacing: 2px;
}

.hamburg { 
   display: block;
   background: #29516D; 
   width: 75px; 
   height: 50px; 
   position: relative; 
   margin: 0 auto; 
   border-radius: 4px; 
   transition: border-radius .5s;
}
.line { 
   position: absolute; 
   left:10px;
   height: 4px; width: 55px; 
   background: #fff; border-radius: 2px;
   display: block; 
   transition: 0.5s; 
   transform-origin: center; 
}
.line:nth-child(1) { top: 12px; }
.line:nth-child(2) { top: 24px; }
.line:nth-child(3) { top: 36px; }

.hamburg.checked .line:nth-child(1){
   transform: translateY(12px) rotate(-45deg);
}
.hamburg.checked .line:nth-child(2){
   opacity:0;
}
.hamburg.checked .line:nth-child(3){
   transform: translateY(-12px) rotate(45deg);
}